extends layout

block extraHeader

  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")


block append scripts
  script
    |var dfile = window.location.search.substr(3)
  link(rel='stylesheet', href='/css/style.css')
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
   <script type="text/javascript" src="js/evaluations.js"></script>
   <script type="text/javascript" src="js/THREE.MeshLine.js"></script>
  <script type="text/javascript" src="js/shared_tools.js"></script>
  script(src="js/" + vis + ".js")
  <script type="text/javascript" src="js/typeahead.js"></script>
  <script type="text/javascript" src="js/Tween.js"></script>



block content
  div(class="wrapper") 
    nav("id"="sidebar", class="d-none")
      div("id"="sidebar-content")
        div(class="modal-header")
          h5(class="modal-title") Options
          button(type='button', class='close', aria-label='close', id='collapse_sidebar')
            span(aria-hidden="true") &times;
    div(id="content")
      h1= undefined
      div(id="frontmatter")



      div(id='chart')
      div(class="modal fade",id='confirm', role="dialog",aria-hidden="true")
        div( class='modal-dialog', role='document')
          div(class='modal-content')
            div(class='modal-body') Exit Evaluation?
            div(class='modal-footer')
              button(type='button',data-dismiss='modal', class='btn btn-warning',id='restart') Exit
              button(type='button',data-dismiss='modal', class='btn btn-success') Continue


  block link
    -var selected = 'dropdown';
